h1 {color: blue; font-family: Georgia, 'Times New Roman', Times, serif;}

body {
    background-image: url("https://flyclipart.com/thumb2/colored-smoke-transparent-png-pictures-216793.png");
    
   font-family: 'Times New Roman', Times, serif;}
    
 h2 {color: rgb(1, 9, 6);font-family: 'Times New Roman', Times, serif;}
  p {color: rgb(0, 0, 4);font-family: 'Times New Roman', Times, serif;}
  div {text-align: center;}